.mainText {
  font-size: 28px;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: auto;
  color: #474747;
  padding: 20px;
  text-align: center;
  span {
    font-size: 38px;
    color: #50acab;
  }
}
